name: Lint test

on:
  push:
    branches: ["**"] # every branch
  pull_request:
    branches: [main]

jobs:
  backend-lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12"]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"
      - run: pip install -r requirements.txt
      - run: flake8 server/ --count --show-source --statistics

  frontend-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20.19 #minimum version for vite
          cache: "npm"
          cache-dependency-path: client/package-lock.json
      - run: npm ci
        working-directory: client
      - run: npm run build
        working-directory: client
